// variable con SASS
$color-diabete-normal : blueviolet;
$color-prediabete : maroon;
$color-diabete : red;
$color-fondo : azure;

//herencia
%centrado{
    margin: 0 auto;
}
%topes{
    background-color: #333;
    width: 100%;
}
%imagen-primaria{
    height: 20rem;
    object-fit: contain;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 1em;
}
main{
    @extend %centrado;
    width: 80%;
    background-color: $color-fondo;
    text-align: justify;
    padding: 60px;
    p{
        color: #524c56;
        text-indent: 5%;
        line-height: 200%;
        font-size: 120%;
    }
    li{
        color: #524c56;
        line-height: 200%;
        font-size: 100%;
    }
}

header {
    @extend %topes;
    position: fixed;
    height: 50px;
    font-size: 20px;
    z-index: 1000;
}

#pasos-insulina{
    text-align: center;
}

.grid-layout{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    picture{
        text-align: center;
        margin: auto auto auto auto;
        img{
            object-fit: fill;
            
        }
    }
}
.centrar-imagenes{
    text-align: center;
    img{
        object-fit: fill;
        height: 400px;
    }
}

h1{
    text-align: center;
}

picture img{
    width: 100%;
}

.table{
    width: 100%;
    text-align: left;
}

//Ejemplo de anidación con la tabla del index
#grid-index{
    .table{
        td{
            background-color: #d9d9d9;
        }
        thead{
            tr :first-child{
                color: black;
            }
            tr :nth-child(2) {
                color: $color-diabete-normal;
            }
            tr :nth-child(3) {
                color: $color-prediabete;
            }
            tr :last-child {
                color: $color-diabete;
            }
        }
        tbody{
            text-align: center;
            tr :first-child {
                color: black;
                text-align: left;
            }
            tr :nth-child(2) {
                color: $color-diabete-normal;
            }
            tr :nth-child(3) {
                color: $color-prediabete;
            }
            tr :last-child {
                color: $color-diabete;
            }
        }
    }
    p{
        font-weight: bold;
        font-size: smaller;
    }
}
#imagen-inyeccion{
    @extend %imagen-primaria;
}

.banner{
    @extend %imagen-primaria;
}

footer {
    @extend %topes;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 3rem;

    p{
        @extend %centrado;
        strong a{
            color: white;
        }
    }
}
@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }

    to{
        opacity: 1;
        scale: 100%;
    }
}
img{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 40%;
    animation-fill-mode: both;
}