body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1em;
}
main{
    background-color: azure;
    text-align: justify;
}

header {
    background-color: #333;
    width: 100%;
    position: fixed;
    height: 50px;
    font-size: 20px;
}

h1{
    text-align: center;
}

main {
    padding: 60px;
}

.tabla-figura{
    display: flex;
}
.tabla-figura picture img{
    height: 200px;
    display: block;
    padding-left: 50%;
}

#tabla-valores{
    text-align: center;
}

#tabla-valores table{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
}

#tabla-valores table td{
    background-color: #d9d9d9;
}
#tabla-valores p{
    font-weight: bold;
}

#tabla-valores table thead tr :first-child {
    color: black;
}

#tabla-valores table thead tr :nth-child(2) {
    color: maroon;
}

#tabla-valores table thead tr :nth-child(3) {
    color: blueviolet;
}
#tabla-valores table thead tr :last-child {
    color: red;
}

#tabla-valores table tbody tr :first-child {
    color: black;
}

#tabla-valores table tbody tr :nth-child(2) {
    color: maroon;
}

#tabla-valores table tbody tr :nth-child(3) {
    color: blueviolet;
}

#tabla-valores table tbody tr :last-child {
    color: red;
}

#tabla-valores p{
    font-size: smaller;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    height: 3rem;
}
footer p{
    margin: 0 auto;
}